.panel {
  margin-top: 15px;
  background-color: #f3f3f3;
  color: #000;
}

.panel-heading{
  background-color: #313131;
  color: #fff;
}

button[type="submit"] {
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: rgb(83, 84, 85);
  border: none;
  width: 110px;
  height: 35px;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

button[type="submit"]:hover {
  background-color: rgb(80, 80, 80);
}

