.lista-box h5{
   color: #fff;
   font-size: 2.5rem;
   margin-bottom: 40px; 
} 

/*STYLES Card UI*/
html,body {
    padding: 0;
    /* height: 100%; */
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    background: #EEF1F8;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 100%; */

    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; */
  }
  
  .card {
    display: inline-block;
    background: #FFF;
    width: 250px;
    height: 350px;
    border-radius: 4px;
    position: relative;
    margin: 15px auto;
    box-shadow: 0 3px 3px rgba(#E0E7F5,.5);
  }

    .up {
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }

  .up:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
    
  .card .top-section {
      background: #308cc3;
      height: 100px;
      border-radius: 4px 4px 0 0;
  }
      
  .card .top-section .facebook {
      position: absolute;
      transform: translate(10px,10px);
  }
        
  .card .top-section .facebook a {
      text-decoration: none;
      color: #FFF;
  }
           
  .card .top-section .add-btn {
      position: absolute;
      height: 24px;
      width: 24px;
      background: #99B0DF;
      right: -8px;
      top: -12px;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      color: #FFF;
      box-shadow: 0 3px 6px rgba(0,0,0,.1);
  }
        
  .card .top-section .add-btn a {
      text-decoration: none;
      color: #FFF;
      display: block;
  }
       
  .card .avatar {
      position: absolute;
      width: 125px;
      height: 125px;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
  }
      
  .card .avatar img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 4px solid #FFF;
      box-shadow: 0 3px 6px rgba(#ACC0E9,.5);
  }

  .card .avatar img.double{
    border: 4px double #FFF;
  }
    
    
  .card .bottom-section {
      text-align: center;
      padding: 50px 40px 15px 40px;
  }
      
  .card .bottom-section h5 {
      margin: 20px 0 20px 0;
      color: #7E7E7E;
      font-size: 15px;
      font-family: 'Pacifico';
  }
      
  .card .bottom-section p {
      font-size: 15px;
      color: #B0B0B0;
  }

  .card .bottom-section p i {
      color: rgb(38, 201, 76);
  }
      
  .card .bottom-section .social-media {
    position: absolute;
    width: 135px;
    bottom: 40px;
    left: 25%;
    margin-top: 48px;
  }
        
  .card .bottom-section .social-media a {
      text-decoration: none;
      margin: 0 8px;
      color: #B0B0B0;
  }


  
  /* PopPUEs*/
#popup {
    display: none;
    opacity: 0;
    margin-top: -300px;
    z-index: 2000;
    -webkit-animation:autopopup 0.7s;
    -moz-animation:autopopup 0.7s;
    animation:autopopup 0.7s;
 }
 
 #popup:target {
    display: block;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
 
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
 }

 
@-webkit-keyframes autopopup {
    from {opacity: 0;margin-top:-200px;}
    to {opacity: 1;}
}
@-moz-keyframes autopopup {
   from {opacity: 0;margin-top:-200px;}
   to {opacity: 1;}
}
@keyframes autopopup {
   from {opacity: 0;margin-top:-200px;}
   to {opacity: 1;}
}

a:focus, a:hover {
 color: #333;
 text-decoration: none;

}

.box-message{
    display: none;
    position: absolute;
    
    left: 50%;
    top: 20%;
    border-radius: 3px;
    width:50%;

    background-color: rgba(31, 55, 80, 0.78);
    border: 1px solid rgba(38, 184, 194, 0.84);


    -webkit-box-shadow: 20px 20px 5px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 5px -11px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 5px -11px rgba(0,0,0,0.75);
    
    transform: translateX(-50%);    
    
}

.box-message .caja-g {
    width: 140px;
    height: 140px;
    margin: 10px auto;
    -webkit-animation: brinca 2s alternate infinite;
}

.box-message .caja-g img{
    width: 100%;
    height: 100%;
}

.box-message h2{
    text-align: center;
    font-size: 25px;
    margin: 35px auto;
}

.popup-contenedor {
    position: relative;
    margin: 3% auto;
    border-radius: 3px;
    width:50%;

    background-color: rgba(31, 55, 80, 0.78);
    border: 1px solid rgba(38, 184, 194, 0.84);

  
    -webkit-box-shadow: 20px 20px 5px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 5px -11px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 5px -11px rgba(0,0,0,0.75);   
}

.popup-contenedor h2 {
    color: #fff;
     text-align: center;
}

.popup-contenedor .caja-g {
 width: 150px;
 height: 150px;
 margin: 0 auto;
}

.popup-contenedor .caja-g img{
    width: 140px;
    height: 140px;
    margin: 10px auto;
    border-radius: 50%;
    -webkit-animation: brinca 2s alternate infinite;
    
}

a.popup-cerrar {
  position: absolute;
  top:3px;
  right:3px;
  background-color: rgb(175, 45, 45);
  padding:7px 10px;
  font-size: 20px;
  text-decoration: none;
  line-height: 1;
  color:#fff;
}


/*Mensaje popu*/

.containerItem {
    width: 40%;
    height: 240px;
    margin: 0 auto;
    background-color: rgba(31, 55, 80, 0.78);
    border: 1px solid rgba(38, 184, 194, 0.84);
  }
  
   .containerItem .imgConseguido {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 15px;
  }
  
   .containerItem .imgConseguido img {
    width: 100%;
    height: 100%;
  }

  .containerItem  h2 {
      font-size: 20px;
      text-align: center;
  }

  .containerItem #message-alert {
    display: none; 
    background-color: #b8282f;
  }

  .containerItem #message-alert h2 {
      color: #ffffff;
  }
  
  .wrong-money {
    -moz-animation: wrong-money 0.3s;
    -webkit-animation: wrong-money 0.3s;
    animation: wrong-money 0.3s;
  }

  
  .containerItem h2 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    
  }


.container-dinero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:20px;
}

.container-dinero .monedas{
    width: 65px;
    height: 65px;
    margin: 1%;
  
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
} 

.container-dinero .monedas:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
} 

.container-dinero .monedas img{
    width: 100%;
    height: 100%;
} 

  
.container-dinero .billetes{
    width: 100px;
    height: 40px;
    margin: 1%;
    

    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.container-dinero .billetes:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.container-dinero .billetes img{
    width: 100%;
    height: 100%;
}



  @-webkit-keyframes brinca {
    0%, 50%{
      -webkit-transform: translateY(-40px);
      -moz-transform: translateY(-40px);
      -o-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      transform: translateY(-40px);
    }
  
    50%, 100%{
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -o-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
    }
  }

@media screen and (min-width:1200px) {
    body {
        min-height: 753px;
    }

}


@media screen and (max-width:1000px) {
    .popup-contenedor {
        width:90%;
    }

    .containerItem {
        width: 60%;
    }

    .container-dinero .monedas{
        width: 50px;
        height: 50px;
    } 

    .container-dinero .billetes{
        width: 80px;
        height: 40px;
    }

}


@media screen and (max-width:600px) {
    .popup-contenedor h2 {
        font-size: 13px;
    }

    .popup-contenedor .caja-g {
        width: 90px;
        height: 90px;
    }

    .popup-contenedor .caja-g img{
        width: 100%;
        height: 100%;  
    }

    .containerItem {
        height: 190px;
    }

    .containerItem  h2 {
        font-size: 13px;
    }

    .containerItem .imgConseguido {
        width: 80px;
        height: 80px;
      }
}

@media screen and (max-width:500px) {
    .containerItem {
        width: 80%;
    }

    .container-dinero .monedas{
        width: 40px;
        height: 40px;
    } 

    .box-message{
        width:90%;     
    }

}
